{% extends 'base.html' %} 
{% load static %}


{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #34495e;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src={% static 'movie.png' %} alt="" width="30" height="24" /> No.1</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/"> <i class="fas fa-home"></i>  Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard"><i class="fas fa-user-alt"></i> Tài khoản</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" aria-current="page" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ticket-alt"></i>
            Xuất chiếu
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/booking">Đặt xuất chiếu</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/order">Xuất chiếu của bạn</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex">
        
        <button class="btn btn-danger" onclick="location.href='/accounts/logout'"> <i class="fas fa-sign-out-alt"></i> Đăng xuất</button>

      </div>
    </div>
  </div>
</nav>

<!-- /navbar -->

  <h3>Danh sách xuất chiếu đã đặt</h3>
{%if item != null %}

<div class=="detail"
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        
        <img width="100%" src="{{item.movie.url}}" />
      </div>
      <div class="col-md-3 col-sm-6">
        <button class="btn btn-warning group-money">{{item.movie.name}} ({{item.movie.year}})</button>
        
        <br>
      </div>
      <div class="col-md-3 col-sm-6 ">
        <span>Phân loại độ tuổi: {{item.movie.rate}} <br /></span>          
        <span>Thời gian chiếu: {{item.time}}-{{item.date}} <br /></span>
        <span>Phòng chiếu: {{item.room.name}} <br /></span>
        <span>Số lượng ghế: {{item.slot}} <br /></span>
        <span>Loại máy chiếu: {{item.type}} <br /></span>
      </div>
      <div class="col-md-3 col-sm-6 ">
      <div class="btn-group  btn-group-toggle group-money" data-toggle="buttons">
          <label class="btn btn-lg btn-secondary money" id="money">
            {{price}}
          </label>
          <label class="btn btn-lg btn-secondary active">
          VND
          </label>
      </div>

      <span><b>Mã xác nhận</b> (khi đến rạp): <b>{{item.confirm_code}}</b> <br /></span>
        {% if item.status == "ON" %}
             <button type="button" class="btn btn-success">Đang mở</button>

        {% else %}
             <button type="button" class="btn btn-danger  ">Đã hủy</button>
            {% endif %}

        {% if item.confirmed == "ON" %}
             <button type="button" class="btn btn-success">Đã xác nhận</button>

        {% else %}
             <button type="button" class="btn btn-danger">Chưa xác nhận</button>
            {% endif %}

        <button class="btn btn-primary group-money editTicket">Thay đổi xuất chiếu</button>
      </div>
    </div>
  </div>

<div class="cenpa">
<nav aria-label="ticket">
  <ul class="pagination justify-content-center">
  {% for o in obj %} {% if o.id == item.id %}
      <li class="page-item active">
      <a class="page-link" href="{{o.id}}">{{o.id}} </a>
      </li>
  {% else %}
      <li class="page-item">
      <a class="page-link" href="{{o.id}}">{{o.id}}</a>
    </li>
  {% endif %} {% endfor %}
  </ul>
</nav>

  </div>
</div>
{% endif %}

{% endblock %}
